params {
	study_vcfs = "/path/to/study/*.vcf.gz"  // Study VCFs with PHASED data. One VCF per chromosome.
	reference_vcfs = "/path/to/reference/*.vcf.gz"  // Reference VCFs with PHASED data. One VCF per chromosome.
       	reference_sample_map = "/path/to/reference/<sample_map_file>.txt" // Reference sample map file. Two space-delimited columns with no header: <SAMPLE_ID>, <POPULATION>.
	rfmix2_cmd = "/path/to/rfmix/executable/rfmix --n-threads=4"  // RFMix2 executable path and main options
}

process {
	withLabel: INFERENCE {
		executor = "slurm"
		memory = "32GB"
		time = "24h"
		cpus = 4
		// set additional SLURM cluster options e.g. "--account"
		//clusterOptions = "--account=<your account>"	
	}
}

executor {
	$slurm {
		queueSize = 1000
		jobName = { "rfmix2" }
	}
	$local {
		cpus = 1
	}
}
